@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

html {
  --color-primary: #1b98f5;
}

.font-animated {
  font-family: "Poppins", sans-serif;
  font-size: calc(
    20px + (30 - 20) * ((100vw - 320px) / (1200 - 320))
  ) !important;
  text-transform: uppercase;
  margin-bottom: 30px !important;
  background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #4b4d4d 29%,
    #1b98f5 67%,
    var(--color-primary) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}
@media (max-width: 500px) {
  .font-animated {
    font-size: 60px !important;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes move {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
